---
import Layout from "./Page.astro";
import Container from "../components/Container.astro";
import { slugify } from "../utils/helpers";

const { frontmatter, currentIndex } = Astro.props;
---
<style>
  /* Your existing styles here */
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: var(--space-m);
    position: relative;
  }

  .carousel__item {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
  }

  .carousel__item img {
    width: 100%;
    border-radius: var(--theme-img-border-radius);
  }

  .carousel__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .carousel__arrow:hover {
    opacity: 1;
  }

  .carousel__arrow--prev {
    left: 1rem;
  }

  .carousel__arrow--next {
    right: 1rem;
  }

  .carousel__arrow-content {
    width: 2rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .carousel__arrow:hover .carousel__arrow-content {
    opacity: 1;
  }
</style>

<script src="./carousel.js"></script>

<Layout seo={frontmatter} backToHome>
  <Container narrow bottomPadding>
    <article class="work-content__article">
      <div class="work-content__hero">
        <div class="carousel">
          <div class="carousel__arrow carousel__arrow--prev" >
            <div class="carousel__arrow-content">&lt;</div>
          </div>
          {frontmatter.images.map((image, index) => (
            <div class="carousel__item">
              <img loading="eager" src={image.src} alt='alt' />
            </div>
          ))}
          <div class="carousel__arrow carousel__arrow--next" >
            <div class="carousel__arrow-content">&gt;</div>
          </div>
        </div>
        {frontmatter.title && <h1>{frontmatter.title}</h1>}
        {
          frontmatter.category && (
            <p class="work-content__category">
              <a href={`/category/${slugify(frontmatter.category)}`}>
                {frontmatter.category}
              </a>
            </p>
          )
        }
      </div>
      <div class="flow">
        <slot />
      </div>
    </article>
  </Container>
</Layout>



