---
import Layout from "./Page.astro";
import Container from "../components/Container.astro";
import arrow from '../../assets/arrow-right.svg'

const { frontmatter, currentIndex } = Astro.props;
---
<style>
  /* Your existing styles here */
  .carousel {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: var(--space-m);
    position: relative;
  }

  .carousel__item {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
    max-height:30rem

  }

  .carousel__item img {
    width: 100%;
    border-radius: var(--theme-img-border-radius);
  }

  .carousel__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .carousel__arrow:hover {
    opacity: 1;
  }

  .carousel__arrow--prev {
    left: 1rem;
  }

  .carousel__arrow--next {
    right: 1rem;
  }

  .carousel__arrow-content {
    width: 2rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .carousel__arrow:hover .carousel__arrow-content {
    opacity: 1;
  }
  .flow{
    text-align: justify;
  }
  
 
</style>
<style>
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
  }

  .modal__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding: 2rem;
  }

  .modal__image-container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

 
  .modal__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 9999;
  }
  .modal__arrow {
    /* Existing styles */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    font-size: 2rem;
    color: #fff; /* Add this line to ensure arrow visibility on the blurred background */

  }

  .modal__arrow--prev {
    left: 2rem;
  }

  .modal__arrow--next {
    right: 2rem;
  }

  .modal__arrow-content {
    /* Existing styles */
    width: 2rem;
    height: 2rem;
    filter: invert(92%) sepia(34%) saturate(2%) hue-rotate(249deg) brightness(110%) contrast(101%);  }

  .modal__arrow:hover .modal__arrow-content {
    opacity: 1;
  }

</style>



<script src="./carousel.js"></script>
<Layout seo={frontmatter} backToHome>
  <Container narrow bottomPadding>
    <!-- ...existing code... -->
    <article class="work-content__article">
      <div class="work-content__hero">
        <div class="carousel">
          <div class="carousel__arrow carousel__arrow--prev">
            <div class="carousel__arrow-content">&lt;</div>
          </div>
          {frontmatter.images.map((image, index) => (
            <div class="carousel__item">
              <img
                loading="eager"
                src={image.toString()}
                alt={image}
                title='xxx'
                id={`image-${index}`}
              />
            </div>
          ))}
          <div class="carousel__arrow carousel__arrow--next">
            <div class="carousel__arrow-content">&gt;</div>
          </div>
        </div>
        {frontmatter.title && <h1>{frontmatter.title}</h1>}
      </div>
      <div class="flow">
        <slot />
      </div>
    </article>
    <div id="modal" class="modal">
      <div class="modal__content">
        <span id="modalClose" class="modal__close">Fermer</span>
        <div class="modal__image-container">
          <div class="modal__arrow modal__arrow--prev" id="modalPrevArrow">
            <img class="modal__arrow-content astro-IDH7QTAX" src={arrow} alt="" style="transform: rotate(180deg);">          </div>
          <img id="modalImage" class="modal__image" src="" alt="Modal Image" />
          <div class="modal__arrow modal__arrow--next" id="modalNextArrow">
              <img class="modal__arrow-content" src={arrow} alt=""></div>
        </div>
      </div>
    </div>
  </Container>
</Layout>

<!-- Modify the JavaScript code as follows -->
<script>
  function openModal(element) {
    const modal = document.getElementById('modal');
    const modalImage = document.getElementById('modalImage');
    const modalClose = document.getElementById('modalClose');
    const modalPrevArrow = document.getElementById('modalPrevArrow');
    const modalNextArrow = document.getElementById('modalNextArrow');
    const images = document.querySelectorAll('.carousel__item img');


    modal.style.display = 'flex';
    modalImage.src = element.src;

    modalClose.addEventListener('click', closeModal);
    modal.addEventListener('click', outsideClick);
    modalPrevArrow.addEventListener('click', showPreviousImage);
    modalNextArrow.addEventListener('click', showNextImage);
    document.addEventListener('keydown', handleKeyDown);

    function handleKeyDown(event) {
      if (event.key === 'ArrowLeft') {
        showPreviousImage();
      } else if (event.key === 'ArrowRight') {
        showNextImage();
      }
    }

    function closeModal() {
      modal.style.display = 'none';
      modalImage.src = '';
      modalClose.removeEventListener('click', closeModal);
      modal.removeEventListener('click', outsideClick);
      document.removeEventListener('keydown', handleKeyDown);

    }

    function outsideClick(event) {
      if (event.target === modal) {
        closeModal();
      }
    }
    function showPreviousImage() {
      const currentIndex = Array.from(images).findIndex((img) => img.src === modalImage.src);
      const previousIndex = (currentIndex - 1 + images.length) % images.length;
      modalImage.src = images[previousIndex].src;
    }

    function showNextImage() {
      const currentIndex = Array.from(images).findIndex((img) => img.src === modalImage.src);
      const nextIndex = (currentIndex + 1) % images.length;
      modalImage.src = images[nextIndex].src;
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    const images = document.querySelectorAll('.carousel__item img');
    images.forEach((image, index) => {
      image.addEventListener('click', function () {
        openModal(this);
      });
    });

    const modal = document.getElementById('modal');
    modal.addEventListener('click', outsideClick);

    function outsideClick(event) {
      if (event.target === modal) {
        closeModal();
      }
    }
  });
</script>




